<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/stars.css">
    <title>Wally</title>
</head>

<body>

    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class = "parent">
        <h1> Wally </h1>
        <h2> A deep learning model to simulate Wavelength.</h2>
        <button class="button">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
        </div>
      </button>
    </div>
    <div class = "game">
      <div class = "parent">
        <h1 class = "score"> . </h1>
        <h2 class = "wordPair"> . </h2>
        <h2> Please draw a word pair...</h3>
        <button class = "drawbutton"> Draw </button>
        <input type="text">
        <button onclick="predict()">Predict</button>
      </div>
    </div>
    <script>

      const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
      const wordPairs = [
          ["Cold", "Hot"],
          ["Dark", "Light"],
          ["Quiet place", "Loud place"],
          ["Colorless", "Colorful"],
          ["Soft", "Hard"],
          ["Low calorie", "High calorie"],
          ["Hygenic", "Unhygenic"],
          ["Happens slowly", "Happens suddenly"],
          ["Temporary", "Permanent"],
          ["Mental activity", "Physical activity"],
          ["Square", "Round"],
          ["Snack", "Meal"],
          ["Tiny", "Huge"],
          ["Messy food", "Clean food"],
          ["Dangerous Job", "Safe Job"],
          ["Childish", "Mature"],
          ["Bad habit", "Good habit"],
          ["Underpaid", "Overpaid"],
          ["Boring", "Exciting"],
          ["Useless major", "Useful major"],
          ["Small talk", "Heavy topic"],
          ["Niche fandom", "Mainstream fandom"],
          ["Unpopular activity", "Popular activity"],
          ["Nobody does it", "Everybody does it"],
          ["Bad", "Good"],
          ["Easy to use", "Difficult to use"],
          ["Relaxing activity", "Stressful activity"],
          ["Smells bad", "Smells good"],
          ["Easy to spell", "Hard to spell"],
          ["Easy subject", "Hard subject"],
        ];

        var chosenPair;

        let guess = document.querySelector('input');
        guess.addEventListener('input', function() {
          console.log(guess.value);
        });

        document.querySelector('.button').addEventListener('click', async function() {
          document.querySelector('.parent').classList.toggle('moved');
          await sleep(1000);
          const game = document.querySelector('.game');
          game.style.display = 'block';
          setTimeout(() => game.style.opacity = '1', 100);
        });
        
        function randomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        document.querySelector('.drawbutton').addEventListener('click', function() {
          const wordPair = document.querySelector('.wordPair');
          wordPair.style.transition = 'none';
          wordPair.style.opacity = '0';
          chosenPair = wordPairs[randomInt(0, wordPairs.length)];
          wordPair.textContent = chosenPair[0] + " / " + chosenPair[1];
          wordPair.getBoundingClientRect();
          wordPair.style.transition = 'opacity 0.3s ease';
          wordPair.style.opacity = '1';
        });

        function predict() {
            fetch('/predict_route', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    left: chosenPair[0],
                    right: chosenPair[1],
                    guess: guess.value,
                })
            })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                document.querySelector('.score').textContent = data.score;
                document.querySelector('.score').getBoundingClientRect();
                document.querySelector('.score').style.transition = 'opacity 0.3s ease';
                document.querySelector('.score').style.opacity = '1';
            });
        }

    </script>


</body>


</html>